/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Global Styles  */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
}

/* Header Section Styles */
.navbar {
  margin: 0 auto;
  width: 1280px;
  /* width: 1600px; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(245, 245, 245);
  color: #000;
  padding: 10px 0;
}
.navbar-title a {
  text-decoration: none;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar-signin {
  display: flex;
  align-items: center;
}
.navbar-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48;
  padding: 17px 34px 17px 34px;
  margin: 24px 0px;
  border-radius: 8px;
  background: rgb(245, 245, 245);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: rgb(0, 106, 80);
  border: 1px solid rgb(0, 106, 80);
  cursor: pointer;
}

/* Banner Section  */
.banner {
  margin: 0 auto;
  margin-bottom: 80px;

  width: 1280px;
  height: 560px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  gap: 64px;

  padding: 80;
  box-sizing: border-box;
  border: 1px solid rgba(198, 228, 214);
  border-radius: 24px;
  background: rgb(198, 228, 214);
}
.banner-info {
  width: 622px;
  height: 326px;
  border-radius: 24px;
  background: rgb(198, 228, 214);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0px;
  margin: 0px 0px 0px 60px;
}
.banner-info-sub-head {
  width: 622px;
  height: 29px;

  gap: 16;
  padding: 0px;
  margin: 16px 0px;

  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 24px;

  background: rgb(198, 228, 214);
}

.banner-info-head {
  width: 622px;
  height: 201px;
  gap: 16;
  padding: 0px;
  margin: 16px 0px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 24px;
  background: rgb(198, 228, 214);
}

.banner-img {
  width: 460px;
  height: 400px;
  flex: none;
  margin: 0px 60px 0px 0px;
}

/* Button styles  */

.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48;
  padding: 17px 34px 17px 34px;
  margin: 24px 0px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: white;
  border: 1px solid rgb(0, 106, 80);
  cursor: pointer;
}

/* pillar styles  */
.pillar {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 1280px;
  height: 324px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
}

.pillar-head {
  width: 1280px;
  height: 48px;
  margin: 0px 0px 32px 0px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.pillar-container {
  width: 1280px;
  height: 244px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pillar-card {
  width: 278px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.pillar-card img {
  width: 49.66px;
  height: 53.09px;
  left: 13.34px;
  top: 1px;
}

.pillar-card-head {
  width: 254px;
  height: 24px;
  gap: 12;
  padding: 0px;
  margin: 12px 0px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.pillar-card-text {
  width: 254px;
  height: 72px;
  gap: 12;
  padding: 0px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* future section styles  */

.future {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.future-head {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.future-text {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.future-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.future-card {
  width: 410.67px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}

.future-card-head {
  width: 346.67px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12;
  margin: 12px 0px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.future-card-text {
  width: 346.67px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12;
  margin: 12px 0px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.future-btn {
  width: 122px;
  height: 41px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48;
  padding: 11px 20px 11px 20px;
  margin: 24px 0px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.bg-1 {
  border: 1px solid rgb(84, 144, 245);
  background: rgb(84, 144, 245);
}

.bg-2 {
  border: 1px solid rgb(9, 161, 92);
  background: rgb(9, 161, 92);
}

.bg-3 {
  border: 1px solid rgb(255, 194, 57);
  background: rgb(255, 194, 57);
}

/* recent-news styles */

.recent {
  width: 1280px;
  height: 1406px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0px;

  margin: 0 auto;
  margin-bottom: 80px;
}

.recent-title {
  width: 1280px;
  height: 48px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}

.recent-text {
  position: static;
  width: 1280px;
  height: 48px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.recent-container {
  width: 1280px;
  height: 402px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
}

.recent-container-img-card img {
  position: static;
  width: 408px;
  height: 306px;
  margin: 0px 32px;
  border-radius: 24px;
  background: url(image);
}

.recent-container-news-card {
  margin-right: 48px;
}

.recent-container-news-card h1 {
  width: 744px;
  height: 38px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12;
  padding: 0px;

  /* margin: 12px 0px; */
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.recent-container-news-card img {
  width: 134px;
  height: 40px;
  margin: 12px 0px;
}

.recent-container-news-card p {
  margin-bottom: 12px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.big-p {
  width: 744px;
  height: 72px;
}

.middle {
  width: 1280px;
  height: 402px;
  display: flex;
  /* padding: 24px; */
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
}

.mid-recent-container-news-card {
  margin-left: 48px;
}

.mid-recent-container-news-card h1 {
  width: 744px;
  height: 38px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12;
  padding: 0px;

  /* margin: 12px 0px; */
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.mid-recent-container-img-card img {
  position: static;
  width: 408px;
  height: 306px;
  margin: 0px 32px;
  border-radius: 24px;
  background: url(image);
}

.mid-recent-container-news-card p {
  margin-bottom: 12px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* donate section styles  */

.donation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1280px;
  height: 464px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.donation-first-part h1 {
  margin: 0 auto;
  margin-bottom: 24px;

  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.donation-first-part p {
  width: 1104px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 32px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.donation-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1071px;
  height: 128px;
}

.donation-card h1 {
  width: 160px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 12; */
  padding: 0px;
  /* margin: 12px 0px; */
  color: rgb(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.donation-card {
  width: 240px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.donation-card-special h1 {
  width: 160px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 12; */
  padding: 0px;
  /* margin: 12px 0px; */
  color: rgb(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.donation-card-special {
  width: 240px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(198, 228, 214);
}

.donation-input form {
  position: static;
  width: 1032px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px 20px 40px;
  margin: 32px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
}

.donation-input input {
  width: 100%;
  padding: 7px;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;

  border: 1px solid white;
  text-align: center;
  margin: 0 auto;
  outline: none;
}

#donate {
  font-family: Fira Sans;
}

.donation-card:hover,
.donation-card-special:hover {
  background-color: rgb(0, 106, 80, 0.8);
  cursor: pointer;
}

/* newsletter styles */
.newsletter {
  margin: 0 auto;
  margin-bottom: 80px;

  width: 1280px;
  height: 395px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* padding: 80px 100px; */

  border-radius: 24px;
  background: rgb(198, 228, 214);
}

.newsletter-first-part {
  width: 750px;
  height: 112px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 24px 0px;

  padding-top: 50px;
}

.newsletter-first-part h1 {
  width: 750px;
  height: 48px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12;
  padding: 0px;
  margin: 0px 0px 12px 0px;

  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.newsletter-first-part p {
  width: 750px;
  height: 48px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12;
  padding: 0px;
  /* margin: 0px 0px 12px 0px; */

  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.newsletter-input {
  width: 750px;
  height: 90px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 24px 0px; */
}

.newsletter-input form {
  width: 750px;
  height: 64px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 20px 40px;
  /* margin: 10px 0px; */
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
}

.newsletter-input input {
  width: 100%;
  padding: 7px;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;

  border: 1px solid white;
  text-align: left;
  margin: 0 auto;
  outline: none;
}

.newsletter-input button {
  width: 122px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 20px 40px;
  margin: 32px 0px;
  box-sizing: border-box;
  background: rgb(0, 106, 80);
  color: white;
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.newsletter p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;

  padding-bottom: 80px;
}

/* Footer styles  */
.footer {
  margin: 0 auto;
  width: 1600px;
  height: 226px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(245, 245, 245);
  color: rgb(14, 14, 14);
  padding: 0px 80px;
}

.foot-all {
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot-all h1 {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.foot-icon li {
  list-style: none;
  display: inline;
  margin: 0px 16px;
}

hr {
  width: 1122px;
  height: 1px;
  margin: 32px 0px;
  background: rgba(14, 14, 14, 0.15);
  border: none;
}