/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Global Styles  */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
}

/* Nav Styles */

/* Banner Section  */
.banner {
  margin: 0 auto;
  margin-bottom: 80px;

  width: 1280px;
  height: 560px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  gap: 64px;

  padding: 80;
  box-sizing: border-box;
  border: 1px solid rgba(198, 228, 214);
  border-radius: 24px;
  background: rgb(198, 228, 214);
}
.banner-info {
  width: 622px;
  height: 326px;
  border-radius: 24px;
  background: rgb(198, 228, 214);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0px;
  margin: 0px 0px 0px 60px;
}
.banner-info-sub-head {
  width: 622px;
  height: 29px;

  gap: 16;
  padding: 0px;
  margin: 16px 0px;

  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 24px;

  background: rgb(198, 228, 214);
}

.banner-info-head {
  width: 622px;
  height: 201px;
  gap: 16;
  padding: 0px;
  margin: 16px 0px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 24px;
  background: rgb(198, 228, 214);
}

.banner-img {
  width: 460px;
  height: 400px;
  flex: none;
  margin: 0px 60px 0px 0px;
  /* background: none; */
  /* padding: none; */
}

/* Button styles  */

.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48;
  padding: 17px 34px 17px 34px;
  margin: 24px 0px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: white;
  border: 1px solid rgb(0, 106, 80);
  cursor: pointer;
}

/* pillar styles  */
.pillar {
  margin: 0 auto;
  margin-bottom: 80px;

  width: 1280px;
  height: 324px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  
}

.pillar-head {
  width: 1280px;
  height: 48px;
  margin: 32px 0px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.pillar-container {
  width: 1280px;
  height: 244px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 24px; */
}


.pillar-card {
  /* margin: 0 auto; */
  width: 278px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 24; */
  padding: 24px;
  /* margin: 0px 24px; */
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.pillar-card img {
  width: 49.66px;
  height: 53.09px;
  left: 13.34px;
  top: 1px;
}

.pillar-card-head {
  width: 254px;
  height: 24px;
  gap: 12;
  padding: 0px;
  margin: 12px 0px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.pillar-card-text {
  width: 254px;
  height: 72px;
  gap: 12;
  padding: 0px;
  /* margin: 12px 0px; */
  margin: ;
  /* margin: 12px 0px; */
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* future section styles  */

.future {
  margin: 0 auto;
  margin-bottom: 80;
  width: 1280px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.future-head {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.future-text {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}

.future-container {
  /* width: 1280px; */
/* height: 325px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.future-card {
  width: 410.67px;
  /* height: 325px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}

.future-card-head {
  width: 346.67px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12;
  margin: 12px 0px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.future-card-text {
  width: 346.67px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12;
  margin: 12px 0px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  text-align: left;
}

.future-btn {
  width: 122px;
  height: 41px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48;
  padding: 11px 20px 11px 20px;

  margin: 24px 0px;

  border-radius: 8px;

  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
.bg-1 {
  border: 1px solid rgb(84, 144, 245);
  background: rgb(84, 144, 245);
}

.bg-2 {
  border: 1px solid rgb(9, 161, 92);
  background: rgb(9, 161, 92);
}

.bg-3 {
  border: 1px solid rgb(255, 194, 57);
  background: rgb(255, 194, 57);
}
